angular.module('todoApp', [
  'ngRoute',
  'ngResource',
  'ui.utils',
  'ui.bootstrap.datetimepicker',
  'todoApp.services',
  'todoApp.controllers',
]).
config(['$routeProvider', '$httpProvider', function ($routeProvider, $httpProvider){
  $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
  $routeProvider.when('/', {
    templateUrl: '<%= asset_path("projects.html") %>',
    controller: 'ProjectsIndexCtrl',
    access: 'authorized'
  })
  .when('/login', {
    templateUrl: '<%= asset_path("login.html") %>',
    controller: 'LoginCtrl',
    access: 'guest'
  })
  .when('/signup', {
    templateUrl: '<%= asset_path("signup.html") %>',
    controller: 'LoginCtrl',
    access: 'guest'
  })
  .when('/projects/:id/edit', {
    templateUrl: '<%= asset_path("projects_form.html") %>',
    controller: 'ProjectsUpdateCtrl',
    access: 'authorized'
  })
  .when('/projects/new', {
    templateUrl: '<%= asset_path("projects_form.html") %>',
    controller: 'ProjectsCreateCtrl',
    access: 'authorized'
  })
  .when('/tasks/:id/edit', {
    templateUrl: '<%= asset_path("tasks_form.html") %>',
    controller: 'TasksUpdateCtrl',
    access: 'authorized'
  })
  .otherwise({redirectTo: '/'});
}])
.run(['$location', '$rootScope', '$http', 'Auth', function ($location, $rootScope, $http, Auth){
  $http.defaults.headers.common.Accept = 'application/json';

  $rootScope.$on('$routeChangeStart', function (event, next, current) {
    if (next.access) {
      Auth.checkAuth().finally(function (){
        var redirectPath = Auth.handleAccesRule(next.access);
        if (redirectPath) {
          $location.path(redirectPath);
        }
      });
    }
  });
}]);