@mixin gradient-vertical($color1: #555, $color2: #333) {
  background-color: $color1;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2});
  background-image: -moz-linear-gradient(center top, $color1, $color2);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2));
}
@mixin inner-shadow($textColor: #FFF, $shadowColor: #000) {
  color:transparent;
  font-weight: bold;
  text-shadow: 0px 1px 0px $textColor, 0 0 0 $shadowColor;
}
@mixin outer-shadow($textColor: #FFF, $shadowColor: #000) {
  color: $textColor;
  font-weight: bold;
  text-shadow: 0px 1px 0px $shadowColor;
}
@mixin project-container-bottom-radius() {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
$primary-from: #497EBC;
$primary-to: #345D9D;
$sucess-from: #9FD5B9;
$sucess-to: #52896A;
$tasks-table-main: #777;
$tasks-table-done: #ccc;
$tasks-table-vertical-border: #EFDBE0;
html, body {
  height: 100%;
}
body {
  @include gradient-vertical(#D6D0C4, #BE7112);
  padding-top: 20px;
  padding-bottom: 20px;
}
.tasksForm #title-input.ng-invalid.ng-dirty {
  background-color: white;
}
input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.btn-primary {
  @include inner-shadow;
  @include gradient-vertical($primary-from, $primary-to);
}
.btn-primary:hover {
  @include inner-shadow;
  @include gradient-vertical(darken($primary-from, 5%), darken($primary-to, 5%));
}
.btn-success {
  @include outer-shadow;
  @include gradient-vertical($sucess-from, $sucess-to);
}
.btn-success:hover {
  @include outer-shadow;
  @include gradient-vertical(darken($sucess-from, 10%), darken($sucess-to, 10%));
}
.alert {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.header {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    a {
      @include outer-shadow(#000, #fff);
      text-decoration: none;
    }
  }
  .sign-buttons {
    position: absolute;
    top: 0;
    right: 0;
    a {
      color: black;
    }
  }
}
.new-task-container.no-tasks{
  @include project-container-bottom-radius;
}
.new-task-container {
  background-color: #ccc;
  padding: 10px;
  .plus-icon {
    @include inner-shadow($sucess-to);
    line-height: 34px;
    font-size: 50px;
    font-weight: bold;
    width: 40px;
    float: left;
    margin-right: 10px;
  }
  .title-input {
    float: left;
    .input-group {
      #title-input {
        width: 720px;
      }
      .input-group-btn {
        width: 90px;
      }
    }
  }
}
.sign-form {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.project-form {
  padding: 15px;
}
.task-form {
  .done-container {
    line-height: 30px;
    font-size: 30px;
  }
  padding: 15px;
}
.project-container {
  box-shadow: 1px 1px 1px black;
  @include project-container-bottom-radius;
  margin: 25px auto;
  width: 900px;
  .panel-heading {
    color: white;
    @include gradient-vertical($primary-from, $primary-to);
    .list-icon {
      color: #aaa;
      margin-right: 10px;
    }
    h3 {
      @include outer-shadow
    }
  }
  h3 {display: inline;}
  .panel-heading-controls {
    float: right;
    a {
      color: white;
    }
  }
}
.add-project-container {
  text-align: center;
  .glyphicon {
    margin-right: 10px;
    @include inner-shadow(darken($primary-to, 10%));
  }
}
.tasks-table {
  @include project-container-bottom-radius;
  color: $tasks-table-main;
  width: 100%;
  td {
    padding: 5px 10px;
  }
  td.done-column {
    text-align: center;
    width: 55px;
    border-right: 5px double $tasks-table-vertical-border;
  }
  td.main-column {
    width: 725px;
    border-right: 1px solid $tasks-table-vertical-border;
  }
  td.actions-column {
    a {
      color: $tasks-table-main;
    }
    text-align: center;
  }
  tr.done {
    color: $tasks-table-done;
    a {
      color: $tasks-table-done;
    }
  }
  tr:hover {
    background-color: #FCFED5;
  }
  tr {
    border-bottom: 1px solid #ddd;
  }
  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 15px;
    }
    td:last-child {
      border-bottom-right-radius: 15px;
    }
    border-bottom: none;
  }
}