<form class="sign-form" novalidate role="form" name="loginForm">
  <p class="form-errors">{{errorMsg}}</p>
  <input class="form-control" id="email-input" type="email" placeholder="Email" ng-model="user.email" required>
  <input class="form-control" id="password-input" type="password" placeholder="Password" ng-model="user.password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Login</button>
</form>