<div>
  <div class="project-container panel panel-default" ng-repeat="project in projects">
    <div class="panel-heading" ng-mouseenter="hoverControls(project)" ng-mouseleave="hoverControls(project)">
      <span class="glyphicon glyphicon-list-alt list-icon"></span>
      <h3 class="panel-title">{{project.title}}</h3>
      <span class="panel-heading-controls" ng-show="project.showControls">
        <a href="#/projects/{{project.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="" ng-click="delete(project)"><span class="glyphicon glyphicon-remove"></span></a>
      </span>
    </div>
    <div ng-controller="TasksIndexCtrl">
      <div class="new-task-container clearfix" ng-class="{'no-tasks': project.tasks.length == 0}">
        <form novalidate class="tasksForm" role="form" name="tasksForm">
          <div class="plus-icon">
            <span class="">+</span>
          </div>
          <div class="title-input">
            <div class="input-group">
              <input id="title-input" class="form-control" type="text" placeholder="Start typing here to create task..." ng-model="task.title" required>
              <div class="input-group-btn">
                <button class="btn btn-success" type="submit" ng-click="save(project)" ng-disabled="tasksForm.$invalid">Add task</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="">
        <table class="tasks-table">
          <tr ng-class="{done: task.done}" ng-repeat="task in project.tasks | orderBy:['done', 'deadline']" ng-controller="TasksDynamicUpdateCtrl" ng-mouseenter="hoverControls(task)" ng-mouseleave="hoverControls(task)">
            <td class="done-column"><input id="done-input" type="checkbox" ng-model="task.done" ng-change="update(task)"></td>
            <td class="main-column">{{task.title}}<span class="pull-right">{{task.deadline | date: 'yyyy-MM-dd HH:mm:ss'}}</span></td>
            <td class="actions-column">
              <span ng-show="task.showControls">
                <a href="#/tasks/{{task.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="" ng-click="delete(project, task)"><span class="glyphicon glyphicon-remove"></span></a>
              </span>
            </td>
          </tr><!-- ng-controller="TasksDynamicUpdateCtrl" -->
        </table>
      </div><!-- panel-body -->
    </div><!-- ng-controller="TasksIndexCtrl"> -->
  </div><!-- panel -->
</div>
<p class="add-project-container">
  <a class="btn btn-lg btn-primary text-with-shadow" href="#/projects/new"><span class="glyphicon glyphicon-plus"></span>Add TODO list</a>
</p>