<form class="project-form form-horizontal" role="form">
  <div class="form-group">
    <label for="title-input" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input id="title-input" class="form-control" type="text" placeholder="Title" ng-model="project.title" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="projectsForm.$invalid">Save</button>
    </div>
  </div>
</form>
<a class="btn btn-default" href="#/"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>