<form class="sign-form" novalidate role="form" name="signupForm">
    <p class="form-errors">{{errorMsg}}</p>
    <input class="form-control" id="email-input" type="email" placeholder="Email" ng-model="user.email" required>
    <input class="form-control" name="password" id="password-input" type="password" placeholder="Password" ng-model="user.password" required>
    <input class="form-control" name="confirm_password" id="password-confirmation-input" type="password" placeholder="Repeat password" ng-model="user.password_confirmation" ui-validate="'$value==user.password'" ui-validate-watch=" 'user.password' " required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signup(user)" ng-disabled="signupForm.$invalid">SignUp</button>
</form>