<form class="task-form form-horizontal" novalidate role="form" name="tasksForm">
  <div class="form-group">
    <label for="title-input" class="col-sm-1 control-label">Title</label>
    <div class="col-sm-10">
      <input id="title-input" class="form-control" type="text" placeholder="Title" ng-model="task.title" required>
    </div>
  </div>
  <div class="form-group">
    <label for="done-input" class="col-sm-1 control-label">Done</label>
    <div class="col-sm-10 done-container">
      <input id="done-input" type="checkbox" ng-model="task.done">
    </div>
  </div>
  <div class="form-group">
    <label for="priority-input" class="col-sm-1 control-label">Priority</label>
    <div class="col-sm-10">
      <select id="priority-input" class="form-control" ng-options="priority for priority in priorities" ng-model="task.priority" required></select><br>
    </div>
  </div>
  <div class="form-group">
    <label for="deadline-input" class="col-sm-1 control-label">Deadline</label>
    <div class="col-sm-10">
      <div class="dropdown">
        <a class="dropdown-toggle deadline-input-select" id="deadline-input" role="button" data-toggle="dropdown" data-target="#" href="">
          <input type="text" class="form-control" ng-model="task.deadline">
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="task.deadline" datetimepicker-config="{ dropdownSelector: '.deadline-input-select' }"></datetimepicker>
        </ul>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="tasksForm.$invalid">Save</button>
    </div>
  </div>
</form>
<a class="btn btn-default" href="#/"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>