<!DOCTYPE html>
<html ng-app="todoApp">
<head>
  <title>Todolist</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-controller="MainCtrl">
  <div class="notifications-container">
    <div class="alert alert-{{message.type}}" ng-repeat="message in notifications track by $index">
      {{message.text}}
    </div>
  </div>
  <div class="header">
    <h3><a href="/">SIMPLE TODO LISTS</a></h3>
    <div class="sign-buttons">
      <ul class="nav nav-pills pull-right">
        <li ng-click="logout()" ng-show="isLoggedIn()"><a href="">Logout</a></li>
        <li ng-show="!isLoggedIn()"><a href="#/signup">SignUp</a></li>
      </ul>
    </div>
  </div>
  <div ng-view></div>
</div>

</body>
</html>
